.comment-box {
  width: 500px;
  padding: 10px 10px;
  margin-top: 10px;
}

.comment-box input {
  width: 75%;
  margin-bottom: 10px;
}

#comment-content {
  width: 75%;
  height: 100px;
  margin-bottom: 10px;
}

.comment-box textarea {
  width: 100%;
  margin-bottom: 10px;
}

.comment-box button {
  margin-bottom: 10px;
}

.comment-box ul {
  list-style: none;
}

.menu-drop {
  display: none;
}

.menu-drop ul{
  list-style: none;
}

.save-btn {
  margin: 5px;
  background-color: #00bfff;
  color: white;
  outline: none;
  border: 2px solid #00bfff;
  transition-duration: 0.3s;
}

.save-btn:hover {
  background-color: white;
  color: black;
}